/* Schriftart für die Anwendung */
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  padding: 0 2rem 2rem;
  height: 100vh;
  margin: auto;
  position: relative;
  background: linear-gradient(90deg, #FEC996,#E37C95,#B894DC,#EAC4F4);
  background-color: rgba(255, 255, 255, 0.3);
}

.nav {
  margin-bottom: 50px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  display: inline-block;
  margin: 0 5px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 16pt;
}

#sessions  { background-color: #479496; }
#checkup   { background-color: #3c68a3; }
#dashboard { background-color: #b96c96; }
#lectures  { background-color: #ec7b6a; }

#sessions, #checkup, #dashboard, #lectures {
  padding: 15px 25px; /* Top - Right - Bottom - Left */
  border-bottom-left-radius: 15px; /*Runde Ecken*/
  border-bottom-right-radius: 15px;
  min-width: 155px;
  text-align: center;
}