@import 'tailwindcss';

@tailwind utilities;

/* allgemeine Schriftart für die Anwendung */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  padding: 2rem;
  max-width: 1920px;
  min-width: 1200px;
  margin: auto;
  position: relative;
  background: linear-gradient(90deg, #FEC996,#E37C95,#B894DC,#EAC4F4);
  background-color: rgba(255, 255, 255, 0.3);
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav ul li a {
  color: #FFF;
  font-weight: 600;
  text-decoration: none;
}